@use "sass:color";
@use "./variables" as *;

.footnotes {
    max-width: $content-max-width;
    margin: 3rem auto;
    padding: 1.5rem;

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    ol {
        list-style: decimal;
        padding-left: 2.5rem;
        font-size: 1.6rem;
        line-height: $content-line-height;
        text-align: left;
        hyphens: auto;

        li {
            margin-bottom: 1.75rem;
            padding: 0.5rem 1rem;
            text-indent: 0;
            border-left: 2px solid $accent-color;

            &:hover {
                border-left: 2px solid $link-hover-color;
                background: color.scale($background-color, $lightness: 10%);
            }

            a {
                text-decoration: solid;
                font-weight: bold;
            }
        }
    }
}
