@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background-color: $background-color;
    color: $text-color;
    padding: $content-padding;
    text-align: left;
}

a {
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px dotted $text-color;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    &:hover {
        color: #000;
        background-color: $text-color;
        border-color: $text-color;
    }

    &:visited {
        color: $link-visited-color;
        text-decoration: none;

    }
}
